/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

body {
    background-color: rgb(22, 84, 255);
    background-image: radial-gradient(black 1px, transparent 0);
    background-size: 20px 20px;
    background-position: -19px -19px;
    display: grid;
    grid-template-rows: 80px 1fr;
    gap: 10px;
    justify-items: center;
    margin-top: 3vh;
    height: 95vh;
    width: auto;
}

header {
    padding: 10px;
    border: 5px solid rgb(0, 16, 165);
    box-shadow: 4px 4px 0px 2px rgb(0, 16, 165);   
    background-color: rgb(22, 84, 255);
    border-radius: 1rem;
    width: min(calc(80% - 40px), 960px);
    grid-row: 1/2;
    @media (max-width: 800px) {
        width: calc(100% - 40px);
    };

    display: grid;
    grid-template-columns: 1fr auto;
}

dialog {
    padding: 10px;
    border: 5px solid rgb(0, 16, 165);
    box-shadow: 4px 4px 0px 2px rgb(0, 16, 165);   
    background-color: rgb(22, 84, 255);
    border-radius: 1rem;
}

input {
    margin-bottom   : 10px;
    border: 5px solid rgb(0, 16, 165);
    box-shadow: 4px 4px 0px 2px rgb(0, 16, 165);   
    background-color: rgb(22, 84, 255);
    border-radius: 1rem;
}

input[type="checkbox"] {    
    border: 5px solid rgb(0, 16, 165);
    box-shadow: 2px 2px 0px 4px rgb(0, 16, 165);
}

input:focus {
    outline: none;
}

button {
    padding: 10px;
    border: 5px solid rgb(0, 16, 165);
    box-shadow: 4px 4px 0px 2px rgb(0, 16, 165);   
    background-color: rgb(22, 84, 255);
    border-radius: 1rem;
}

button:hover {
    box-shadow: 4px 4px 0px 2px rgb(18, 38, 219);  
    border: 5px solid rgb(18, 38, 219);
}

.container2 {
    height: 100%;
    width: min(80%, 1000px);
    @media (max-width: 800px) {
        width: 100%;
    }
}

.container {
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    height: calc(100% - 20px);
}

.card {
    max-height: 350px;
    background-color: rgb(22, 84, 255);
    border-radius: 1rem;
    padding-top: 10px;
    box-shadow: 4px 4px 0px 2px rgb(0, 16, 165);
    border: 5px solid rgb(0, 16, 165);

    display: grid;
    gap: 10px;
    grid-template-rows: repeat(4, auto);
    align-content: start;
    justify-items: center;
    text-align: center;

    h3 {
        font-size: 2rem;
    }
}